[submodule "linked-list/aiken-linked-list"]
	path = linked-list/aiken-linked-list
	url = https://github.com/Anastasia-Labs/aiken-linked-list.git
[submodule "linked-list/plutarch-linked-list"]
	path = linked-list/plutarch-linked-list
	url = https://github.com/Anastasia-Labs/plutarch-linked-list.git
[submodule "merkle-tree/plutarch-merkle-tree"]
	path = merkle-tree/plutarch-merkle-tree
	url = https://github.com/Anastasia-Labs/plutarch-merkle-tree.git
[submodule "merkle-tree/aiken-merkle-tree"]
	path = merkle-tree/aiken-merkle-tree
	url = https://github.com/Anastasia-Labs/aiken-merkle-tree.git
[submodule "trie/plutarch-trie"]
	path = trie/plutarch-trie
	url = https://github.com/Anastasia-Labs/plutarch-trie.git
[submodule "trie/aiken-trie"]
	path = trie/aiken-trie
	url = https://github.com/Anastasia-Labs/aiken-trie.git
